go 1.22.0

use (
	./backend
	./backend/engines/admin
	./backend/engines/analytics
	./backend/engines/conversation
	./backend/engines/customer
	./backend/engines/driver
	./backend/engines/geospatial
	./backend/engines/matching
	./backend/engines/mobility
	./backend/engines/notification
	./backend/engines/payment
	./backend/engines/policy
	./backend/engines/pricing
	./backend/engines/trip
	./backend/engines/trust
	./backend/gateways/whatsapp
)
